{
    "presets": [
        ["env", {
            "targets": {
                "node": true
            }
        }],
        ["airbnb", {
            "targets": {
                "node": true
            }
        }]
    ]
}