{
    "presets": [
        ["env", {
            "targets": {
                "node": true
            }
        }],
        ["airbnb", {
            "targets": {
                "node": 6
            }
        }]
    ],
    "plugins": ["transform-es2015-classes"]
}